.text-1{
    color: #27706b;
}

.text-2{
    color: #df6589;
}

.text-3{
    color: #fcfaf1;
}

.text-4{
    color: #ffc3af;
}

.text-5{
    color: #eba23e;
}

.bg-1{
    background-color: #27706b;
}

.bg-2{
    background-color: #df6589;
}

.bg-3{
    background-color: #fcfaf1;
}

.bg-4{
    background-color: #ffc3af;
}

.bg-5{
    background-color: #eba23e;
}


.border-color-1{
    border-color: #27706b;
}

.border-color-2{
    border-color: #df6589;
}

.border-color-3{
    border-color: #fcfaf1;
}

.border-color-4{
    border-color: #ffc3af;
}

.border-color-5{
    border-color: #eba23e;
}
